@{
    ViewBag.Title = "attnsub";
    Layout = "~/Views/Shared/_student.cshtml";
}

<h2 class="title">Attendance Has Been Submitted</h2>
<form method="post" action="~/Home/teacher">
 <input type="submit" value="Back" class="btn btn-primary pull-center"/>
</form>