@{
    ViewBag.Title = "accounted";
    Layout = "~/Views/Shared/_student.cshtml";

}

<h2 class="title">Account Has Been Added</h2>

<form method="post" action="~/Home/admin">
 <input type="submit" value="Back" class="btn btn-primary pull-center"/>
</form>