@{
    ViewBag.Title = "admin";
    Layout = "~/Views/Shared/_student.cshtml";

}

<form action="~/savefile/save" method="post" enctype="multipart/form-data" >

    Upload Course Outline: <input type="file" name="File" class="btn btn-primary pull-center"/>
 
     
 
    <input type="submit" value="upload" class="btn btn-primary pull-center"/>
</form>

<br />
<br />
<br />
<table>
    <tr><td>
<form method="post" action="~/Home/Addaccount">
    <input type="submit" value="Add Account" class="btn btn-primary pull-center"/> 

</form>
        </td><td>
<form method="post" action="/Admin/delaccount">
    <input type="submit" value="Delete Account" class="btn btn-primary pull-center"/>

</form></td><td>
    <form method="post" action="~/Admin/searchaccount">
    <input type="submit" value="Search Account" class="btn btn-primary pull-center"/>

</form></td></tr>
    </table>