@{
    ViewBag.Title = "notfn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="title" >@ViewBag.st Not Found, Password or Username Might Be Wrong</h2>


<form method="post" action="~/Home/Index">
 <input type="submit" value="Back" class="btn btn-primary pull-center"/>
</form>